<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hytc.tlias.mapper.StudentMapper">
    <select id="list" resultType="cn.hytc.tlias.entity.Student">
        SELECT s.*, c.name AS clazz_name, u.name AS clazz_master
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        LEFT JOIN user u ON c.master_id = u.id
        <where>
            <if test="name != null and name != ''">
                and s.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        ORDER BY s.id ASC
    </select>
    <insert id="add" parameterType="cn.hytc.tlias.entity.Student">
        insert into student
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="name != null and name != ''">name, </if>
                <if test="no != null and no != ''">no, </if>
                <if test="gender != null">gender, </if>
                <if test="phone != null and phone != ''">phone, </if>                <if test="address != null and address != ''">address, </if>                <if test="clazzId != null">clazz_id, </if>
                <if test="violationCount != null">violation_count, </if>
                <if test="violationScore != null">violation_score, </if>
                <if test="createTime != null">create_time, </if>
                <if test="updateTime != null">update_time, </if>
                </trim>
            values
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="name != null and name != ''">#{name}, </if>
                    <if test="no != null and no != ''">#{no}, </if>
                    <if test="gender != null">#{gender}, </if>
                    <if test="phone != null and phone != ''">#{phone}, </if>                    <if test="address != null and address != ''">#{address}, </if>                    <if test="clazzId != null">#{clazzId}, </if>
                    <if test="violationCount != null">#{violationCount}, </if>
                    <if test="violationScore != null">#{violationScore}, </if>
                    <if test="createTime != null">#{createTime}, </if>
                    <if test="updateTime != null">#{updateTime}, </if>
                </trim>
    </insert>
    <update id="updateById" parameterType="cn.hytc.tlias.entity.Student">
        update student
            <trim prefix="set" suffixOverrides=",">
                <if test="name != null and name != ''">name = #{name}, </if>
                <if test="no != null and no != ''">no = #{no}, </if>
                <if test="gender != null">gender = #{gender}, </if>
                <if test="phone != null and phone != ''">phone = #{phone}, </if>                <if test="address != null and address != ''">address = #{address}, </if>                <if test="clazzId != null">clazz_id = #{clazzId}, </if>
                <if test="violationCount != null">violation_count = #{violationCount}, </if>
                <if test="violationScore != null">violation_score = #{violationScore}, </if>
            </trim>
        where id = #{id}
    </update>
    <select id="getById" parameterType="Integer" resultType="cn.hytc.tlias.entity.Student">
        SELECT * FROM student WHERE id = #{id}
    </select>
    <select id="countStudentGenderData" resultType="java.util.Map">
        select IF(gender = 1, '男', '女') as name, count(*) as value from student group by gender
    </select>
    <select id="countStudentCountData" resultType="java.util.Map">
        select clazz_id as name, count(*) as value from student group by clazz_id
    </select>

    <select id="findByNo" resultType="cn.hytc.tlias.entity.Student">
        SELECT s.*, c.name AS clazz_name, c.room AS clazz_room, c.master_id AS clazz_master_id,
               u.name AS clazz_master, c.subject AS clazz_subject,
               c.begin_date AS clazz_begin, c.end_date AS clazz_end
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        LEFT JOIN user u ON c.master_id = u.id
        WHERE s.no = #{no}
    </select>

    <update id="updatePassword">
        UPDATE student SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateProfile" parameterType="cn.hytc.tlias.entity.Student">
        UPDATE student
        SET phone = #{phone}, address = #{address}, image = #{image}, update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateImage">
        UPDATE student SET image = #{image} WHERE id = #{id}
    </update>

    <update id="updateUnenrollCount">
        UPDATE student SET unenroll_count = #{count} WHERE id = #{id}
    </update>
</mapper>